$primary: #43485c;

$size-1: 2.5rem;
$size-2: 2rem;
$size-3: 1.75rem;
$size-4: 1.50rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;
$family-sans-serif: "Muli-Regular", sans-serif !important;
$family-monospace: "Muli-Regular", sans-serif !important;

@import '~bulma/sass/utilities/all';